#NPC Base Configuration
#
#allowBypassInvulnerability: Allows damage types like /kill command or void to bypass NPC invulnerability (default: true)
#Fri Feb 13 17:09:57 EST 2026
allowBypassInvulnerability=true
